.scrollTop {
  position: fixed;
  float: right;
  width: 100%;
  bottom: 20px;
  align-items: right;
  height: 20px;
  justify-content: right;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.7;
}

.scrollTop:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
