body {
  overflow-x: hidden;
}
.bodybox {
  height: 200px;
  width: 700px;
}
input {
  width: 700px;
}
label {
  font-size: larger;
  font-weight: bold;
}
.btn {
  cursor: pointer;
}
.icon-close {
  right: 2rem;
  top: 1.8rem;
  transition: right 0.6s ease-in-out;
  cursor: pointer;
}
.has-error .help-block {
  text-align: center;
}
.zindex {
  z-index: 9999;
}
.toggle-form {
  right: -9999px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  transition: right 0.6s ease-in-out;
}
.toggle-form.active {
  right: 0;
}
.toggle-form .formwrap img {
  width: 20px;
}
.orange {
  background-color: #ff910e;
  border-color: #ff910e;
  color: #fff;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 2rem;
}
.btn.orange:hover {
  background-color: #da7600;
  border-color: #da7600;
  color: #fff;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 0.9rem;
  line-height: 1.25;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 1.5rem;
  z-index: 60;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.formwrap {
  z-index: 60;
  background-color: rgba(244, 244, 244);
  max-width: 900px;
  height: 100%;
  float: right;
  box-shadow: -1px 0px 12px rgba(0, 0, 0, 0.1);
  z-index: 60;
}
.formwrap form input,
.formwrap form input:focus {
  background-color: transparent;
  border-color: #fff;
  margin-right: 10px;
}

.mid-col {
  max-width: 100%;
  flex: 0 0 100%;
  -ms-flex: 0 0 100%;
}
.form-control {
  background-color: transparent;
  border-color: #fff;

  margin-right: 10px;
}
select.form-control:not([size]):not([multiple]) {
  background-color: transparent;
  border-color: #fff;
}
option {
  background-color: #fff;
  color: #1f2124;
}
.slidearrowclose {
  display: none;
  position: absolute;
  z-index: 10;
  right: 40px;
  height: 120px;
  top: 375px;
}
#formcss2 {
  margin-top: 20px;
}
#formcss1 {
  padding-top: 10px;
}
.slidearrowopen {
  display: none;
  position: absolute;
  z-index: 10;
  right: 40px;
  height: 120px;
  top: 375px;
}
.slidedots {
  position: absolute;
  z-index: 10;
  right: 40px;
  height: 120px;
  top: 375px;
}
.baseslidericon {
  position: absolute;
  z-index: 10;
  right: 40px;
  height: 120px;
  top: 375px;
}
.greyline {
  position: absolute;
  top: 0px;
  right: 40px;
  height: 100%;
  width: 4px;
  background-color: rgba(195, 195, 195);
}
.hovergreyslide {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 40px;
  right: 0px;
  background-color: rgba(244, 244, 244);
}
.slidericon {
  height: 100%;
  position: fixed;
  right: -47px;
  top: 0px;
  z-index: 68;
  transition: border-color ease-in-out 0.25s, box-shadow ease-in-out 0.15s;
}

.slidericon.slideout {
  right: 0px;
}
.slidedots.hidedots {
  display: none;
}
.slidearrowopen.showarrow {
  display: block;
}
.modal2.active {
  display: block;
}
.opensliderarrow {
  position: absolute;
  height: 120px;
  right: 760px;
  top: 375px;
  min-width: 41px;
  z-index: 10;
}
.opensliderbase {
  position: absolute;
  right: 760px;
  top: 375px;
  height: 120px;
  min-width: 41px;
  z-index: 10;
}
.greyline2 {
  position: absolute;
  top: 0px;
  right: 760px;
  height: 100%;
  width: 4px;
  background-color: rgba(195, 195, 195);
  z-index: 10;
}
.modal2 {
  display: none;
  position: absolute;
  right: 760px;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.showclosebutton {
  display: none;
}
@media (max-width: 760px) {
  .formwrap {
    width: 100%;
  }
  .formwrapinput {
    margin-left: 5px;

    width: 97%;
  }
  .showclosebutton {
    display: inline;
  }
}
