.toggler {
  display: none;
}
.toggler.active {
  display: block;
  background-color: green;
  position: absolute;
  height: 60px;
  width: 150px;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -75px;
}
