.sliderfav {
  height: 100%;
  position: fixed;
  left: -254px;
  top: 0px;
  z-index: 68;
  transition: border-color ease-in-out 0.75s, box-shadow ease-in-out 0.75s;
  transition: left 0.4s ease-in-out;
}

.sliderfav.slideout {
  left: 0px;
}

.leftPopoutMenu {
  position: absolute;
  background-color: rgba(244, 244, 244);
  left: 0px;
  top: 0px;
  height: 100%;
  width: 250px;
  z-index: 150;
}

.leftGrayBar {
  background-color: rgba(195, 195, 195);
  position: absolute;
  left: 250px;
  top: 0px;
  height: 100%;
  width: 4px;
  z-index: 151;
}
.slideiconleft {
  position: absolute;
  left: 250px;
  height: 120px;
  top: 375px;
  z-index: 152;
}
.overflow {
  max-height: calc(100% - 30px);
  width: 250px;
  overflow-y: auto;
}
