.VisualizerPic {
  display: block;
  float: left;
  margin-right: 10px;
  min-height: 125px;
  min-width: 125px;
}
body {
  margin: 0;
}
#visualizerbox {
  background-color: white;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  width: 500px;
  height: 280px;
  overflow-x: hidden;
  overflow-x: auto;
  z-index: 2;
  text-align: center;
  text-align: justify;
}
.formmover {
  margin: 20px auto;
  width: 500px;
  height: 280px;
}
.VisualizerTitle {
  font-size: xx-large;
  margin: 0;
}
.VisualizerP {
  word-wrap: normal;

  font-size: 0.45em;
}

@media only screen and (min-width: 1350px) {
  .formmover {
    position: absolute;
    right: 60%;
    top: 250px;
    z-index: 150;
  }
}
@media (max-width: 550px) {
  .formmover {
    display: none;
  }
}
